@import url('');

* {
    margin: 0em;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/pexels-fauxels-3184291.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

.headeer-1 {
    width: 100%;
    background-color: rgb(247, 227, 45);
}

.cash4All-logo {
    width: 17em;
    margin: auto;
}

.container {
    width: 65%;
    max-width: 750px;
    height: auto;
    min-height: 250px;
    background-color: #ABB8C9cc;
    border-radius: 10px;
    margin: 4rem auto;
    padding: 15px 30px;
    box-shadow: 1px 1px 20px 5px #000;
    
}

.mb-3 {
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
.ext-access-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.signin-text {
    font-size: 110%;
    font-weight: 600;
}

.input {
    width: 60%;
    padding: 1rem;
    background-color: #fafafa;
    border: 2px solid RGB(15, 23, 140);
    margin: 20px auto;
    border-radius: 7px;
    font-weight: 500;
}

.input:hover {
    pointer-events: stroke;
}

h1 {
    text-align: center;
}

.paragrafo {
    margin: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}
.hover-item {
    color: RGB(15, 23, 140);
}

.hover-item:hover {
    text-decoration: underline;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 0em 6em;
    text-decoration: none;
    color: #FAFAFA;
    padding: 0.8em 2em;
    border-radius: 7px;
    font-weight: 600;
    max-width: 10em;
}
.container-input {
    margin: 1.5em 15%;
}

.bg-blue {
    border: 2px solid RGB(15, 23, 140);
    background-color: RGB(15, 23, 140);
}

.bg-blue:hover {
    background: transparent;
    color: RGB(15, 23, 140);
    transition: 0.5s;
}

.bg-green {
    border: 2px solid RGB(15, 23, 140);
    background-color: #22C55E;
}

.bg-green:hover {
    background: RGB(15, 23, 140);
    color: #22C55E;
    transition: 0.5s;
}

.ext-access-logos {
    width: 4.5em;
    margin: 0.5em 1em 0.5em 1em;
}

@media (max-width: 1150px) {
    .container {
        width: 70%;
    }
    .container-input {
        margin: 1em 10%;
    }
    .flex {
        gap: 2em;
    }
    .button{
        margin: 10px auto;
    }
}


@media (max-width: 850px) {
    .container {
        width: 80%;
    }
    .container-input {
        margin: 1em 5%;
    }
    .button{
        padding: 0.8em 2em;
    }
    .ext-access-logos{
        width: 4em;
        margin: 1.5em;
    }
}


@media (max-width: 670px) {
    .container {
        width: 90%;
    }
    .container-input {
        margin: 1em 0%;
    }
    .button{
        margin: 0px auto 10px;
        padding: 0.6em 1.2em;
    }
    .ext-access-logos{
        margin: 1em;
        width: 3.5em;
    }
}


@media (max-width: 380px) {
    .container {
        width: 100%;
    }
}